@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Open Sans', sans-serif;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

/* Page background and Styles*/
.top {
    background-color: var(--blue);

    height: 50vh;

    display: flex;
    align-items: top;
    justify-content: center;
}

.center {
    position: absolute;

    top: 25%;
    bottom: 0;
    left: 23%;
    right: 50%;
   

}

.bottom {
    background-color: #F9FBFC;
}

/* Text styles */
.text-top {
    color: var(--page-background);

    text-align: center;
    margin-top: 100px;
}

.text-top h1 {
    font-weight: 700;
    font-size: 48px;
}

.text-top p {
    font-weight: 400;
    font-size: 18px;
}

/* Price Cards Styles */
.cards {
    width: 1000px;
    height: 550px;

    gap: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.side {
    display: flex;
    flex-direction: column;

    width: 355px;
    height: 470px;

    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(142, 150, 185, 0.25);

    background-color: var(--page-background);

    font-weight: 600;
}

.side h3 {
    padding: 30px 0 0 30px;
}

.side span{
    display: inline-flex;

    align-items: center;

    gap: 5px;
    padding-left: 31px;
}
.side span h1 {
    color: #1E2338;
}
.side span h4 {
    color: var(--gray);
    font-size: 18px;
    font-weight: 400;
}

.side p {
    color: #828799;
    font-size: 14px;
    font-weight: 400;

    padding-left: 31px;
    margin-top: 10px;

    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}

.side ul {
    padding-left: 31px;
    list-style: none;
}
.side ul li {
    background: url(./assets/check.svg) no-repeat left center;
    padding-left: 20px;
    line-height: 1.5; 

    color: var(--gray);
    font-size: 14px;
    font-weight: 600;
}

.side button {
    width: 296px;
    padding: 12px 24px;

    border-radius: 10px;
    border: 1px solid var(--blue);
    background-color: var(--page-background);

    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--blue);

}

.middle {
    display: flex;
    flex-direction: column;


    width: 355px;
    height: 490px;

    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgba(142, 150, 185, 0.25);

    background-color: var(--page-background);
}

.title {
    height: 76px;
    padding: 0 15px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 1px 2px 0px rgba(142, 150, 185, 0.25);

    display: flex;
    align-items: center;
    justify-content: space-between
    ;
    background-color: var(--yellow);
}

.title h3 {
    color: var(--blue);
}

.title span{
    border-radius: 40px;
    padding: 8px 24px;

    background-color: var(--blue);
    color: var(--page-background);
}
